<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy; <script>document.write(new Date().getFullYear())</script> LIPS Lab.</p>
              


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  <p>The LIPS Lab is located on the third floor of the Edwards Research and Innovation Center (ERIC) on the University of Memphis campus.</p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  304, Edwards Innovation and Research Center<br />
		  3830 Norriswood Avenue<br />
		  Memphis, TN 38152<br />
		  USA<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
